@using XOG.Models.ViewModels.Authentication
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Theme = "UserTheme";
}
 
    @*<div class="uk-cover-container uk-background-center-center ajax-image"
         style="background-image:url('@GetGraphics("Images/loading.gif")');; background-repeat:no-repeat;" data-src="@GetGraphics("Images/background_1.jpg")">*@

        @*@Html.Partial("MenuBar")*@

    @*</div>*@ 
<div class="uk-container uk-margin-large-top">
    <div class="uk-grid">
        <div class="uk-width-1-3@m uk-width-1-1@s"></div>
        <div class="uk-width-1-3@m uk-width-1-1@s">

            <div class="wrapper">

                @using (Html.BeginForm("LogIn", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    <br /><br /><br />
                    @Html.AntiForgeryToken()
                    <div>
                        <div class="uk-width-1-1@l">
                            <h3>Sign-In to Control Panel</h3>
                        </div>
                    </div>
                    <br />
                    <div>
                        <div class="uk-inline uk-width-1-1@l">
                            <a class="uk-form-icon" uk-icon="icon: user"></a>
                            @Html.TextBoxFor(m => m.Email, new { @class = "uk-input", placeholder = "Email Address" })
                        </div>
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "uk-text-danger validation-error" })
                    </div>
                    <br />
                    <div>
                        <div class="uk-inline uk-width-1-1@l">
                            <a class="uk-form-icon" uk-icon="icon: lock"></a>
                            @Html.PasswordFor(m => m.Password, new { @class = "uk-input", placeholder = "Password" })
                        </div>
                    </div>
                    <br /><br />
                    <div class="uk-grid-small uk-child-width-auto uk-grid">
                        <label>@Html.CheckBoxFor(m => m.RememberMe, new { @class = "uk-checkbox" }) Remember Me</label>
                        @*<label><input class="uk-checkbox" type="checkbox" checked> A</label>*@
                    </div>
                    <div id="ValidationMessage" class="uk-form-label uk-text-danger validation-error-summary">
                        @Html.ValidationSummary(true)
                    </div><br />
                    <button class="uk-margin-small-bottom uk-align-center uk-button uk-button-primary" type="submit" value="Sign In">Sign In</button>

                }
            </div>
        </div>
        <div class="uk-width-1-3@m uk-width-1-1@s"></div>
    </div>
</div> 
    <script>

        $(document).ready(function () {

            $("input").on("keypress", function () {
                $("#ValidationMessage:not(.fixed-error) .validation-summary-errors:first-child").empty();
            });
        });

    </script> 