@using XOG.Util
@using XOG
@using XOG.AppCode.Helpers

@model XOG.Models.ViewModels.Authentication.RegisterViewModel
@{
    ViewBag.Title = Language("EnterPersonalDetails");
    Theme = "SiteTheme";
}

<div class="content">
    <div class="content-title">
        <div class="content-title-inner">
            <div class="container">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-lg-offset-1">
                    @using (Html.BeginForm("Register", "Authentication", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" @Direction>
                                    <label>@Language("Mobile")</label>
                                    <div class="tsm-input-group">
                                        <span class="unit">+91</span>@Html.TextBoxFor(m => m.Mobile, new { @class = "form-control ltr", type = "tel" })
                                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "error" })
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" @Direction>
                                    <label>@Language("Email")</label>
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control ltr", type = "email" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
                                </div>
                            </div>
                        </div> 
                        <div class="row" @Direction>
                            <div class="col-md-6">
                                <div class="form-group" @Direction>
                                    <label>@Language("Password")</label>
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control ltr" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" @Direction>
                                    <label>@Language("ConfirmPassword")</label>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ltr" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group-btn">
                                    <input type="submit" class="btn btn-primary" value="@Language("SignUp")" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @Html.ValidationSummary(true)
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group-bottom-link">
                                    <a href="@Url.Action("Login", "Authentication")"><i class="fa fa-long-arrow-left"></i> @Language("BackToLoginPage") </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>