@model XOG.Models.ViewModels.Authentication.ResetPasswordViewModel
@{
    ViewBag.Title = Language("ResetPassword");
    Theme = "UserTheme";
}

<div class="content">
    <div class="content-title">
        <div class="content-title-inner">
            <div class="container">
                <h1>@ViewBag.Title</h1>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            @using (Html.BeginForm("ResetPassword", "Authentication", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Code)
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" @Direction>
                            <label>@Language("Email")</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control ltr" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" @Direction>
                            <label>@Language("Password")</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control ltr" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" @Direction>
                            <label>@Language("ConfirmPassword")</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control ltr" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group-btn">
                            <input type="submit" class="btn btn-default" value="@Language("Reset")" />
                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
