

@model XOG.Areas.MyAdmin.Models.ViewModels.UserAdminVM

@{
    ViewBag.Title = "Create User";
}

@using (Html.BeginForm("CreateUserAsync", "Users", new { area = "Admin" }, FormMethod.Post, new { id = "CreateUserForm" }))
{
    <div>
        @Html.AntiForgeryToken()
        <h3 class="uk-width-3-5@m uk-align-center">Create New User</h3>
        <div class="uk-width-3-5 uk-align-center">
            <hr />
            <div style="max-width:750px;">
                <div class="uk-card">
                    <div uk-grid class="uk-grid uk-grid-small uk-child-width-1-2@m">
                        <div>
                            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "uk-form-label" })
                            <div class="uk-form-controls">
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "uk-input uk-form-small" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "uk-text-danger" })
                            </div>
                        </div>
                        <div>
                            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "uk-form-label" })
                            <div class="uk-form-controls">
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "uk-input uk-form-small" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "uk-text-danger" })
                            </div>
                        </div>
                        <div>
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "uk-form-label" })
                            <div class="uk-form-controls">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "uk-input uk-form-small" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "uk-text-danger" })
                            </div>
                        </div>
                        <div>
                            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "uk-form-label" })
                            <div class="uk-form-controls">
                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "uk-input uk-form-small" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "uk-text-danger" })
                            </div>
                        </div>
                        <div>
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "uk-form-label" })
                            <div class="uk-form-controls">
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "uk-input uk-form-small" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "uk-text-danger" })
                            </div>
                        </div>
                        <div>
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "uk-form-label" })
                            <div class="uk-form-controls">
                                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "uk-input uk-form-small" } })
                                <br />
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "uk-text-danger" })
                            </div>
                        </div>
                        <div>
                            @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "uk-form-label" })
                            <div class="uk-form-controls">
                                @Html.DropDownListFor(model => model.UserType, Model.UserRoles, new { @class = "uk-select uk-form-small" })                                    <br />
                                @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "uk-text-danger" })
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-3-5 uk-align-center">
            <div class="uk-margin-medium uk-align-right@m uk-flex-last">
                <input type="submit" value="Create User" class="uk-button uk-button-default uk-button-small" />
            </div>
            <a class="uk-button-link uk-link-no-underline" href="@Url.Action("Index","Users", new { area = "Admin" })"><span uk-icon="arrow-left"></span> Back to Users List</a>
        </div>
    </div>
}
