@using XOG.Areas.MyAdmin.Models.ViewModels;
@model XOG.Areas.MyAdmin.Models.ViewModels.OrdersPageViewModel

@{
    var detailItem = Model.detailModel;
}

@if (detailItem != null && detailItem.CustomerInfo != null)
{
    <div class="uk-card-title">
        <div uk-grid>
            <div class="uk-width-expand">@detailItem.CustomerInfo.CustomerFullName</div>
            <div><a onclick="removeDetails()" class="uk-float-right uk-close-small uk-padding-remove" uk-close style="margin-top: 8px;"></a></div>
        </div>
    </div>
    <hr class="uk-margin-small-top" />

    <h4>PRODUCTS </h4>
    for (var i = 0; i < detailItem.Purchases.Length; i++)
    {
        var item = detailItem.Purchases[i];
        <text>
            <dl class="uk-description-list uk-dl-horizontal @(i == 0 ? "border-top" : "")">

                <dt style="width:80%;">@item.ProductName   &nbsp; -   &nbsp;  @item.Quantity </dt>

                <dd style="width:20%;"><b>@((item.Price * item.Quantity).ToString("C"))</b> </dd>

            </dl>

        </text>
    }
    <dl class="uk-description-list uk-dl-horizontal gray-highlight">
        <dt style="width:80%;"><b>Total Bill</b> </dt>
        <dd style="width:20%;"><b>@((detailItem.TotalBill).ToString("C"))</b> </dd>
    </dl>
}